#navbar .container {
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.navbar-brand {
    text-align: left;
}

#google-play-badge {
    width: 162px;
    height: 48px;
}

#app-store-badge {
    width: 162px;
    height: 48px;
}